name:  mirrors

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
    paths-ignore:
      - 'updates/**'
  workflow_dispatch:

jobs:
  check:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run script
      run: |
        rm -rf updates/*
        python mirrors.py
        git config --global user.name "Sonic Ma"
        git config --global user.email "sonic.ma@outlook.com"
        git remote set-url origin https://k8sre:${{ secrets.TOKEN }}@github.com/k8sre/update-center.git
        git add -A
        git commit -m "Automatically updated using GitHub Actions"
        git push
